/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    font-family:Poppins,sans-serif;

    overflow:hidden;

    color:white;

}

/* Background Video */

#background-video{

    position:fixed;

    right:0;

    bottom:0;

    min-width:100%;

    min-height:100%;

    object-fit:cover;

    z-index:-3;

}

/* Dark Overlay */

.overlay{

    position:fixed;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.65);

    z-index:-2;

}

/* Navigation */

nav{

    position:fixed;

    top:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,255,255,.15);

}

/* Logo */

.logo{

    display:flex;

    align-items:center;

    gap:15px;

    font-family:Orbitron,sans-serif;

    font-size:28px;

    color:#00e5ff;

}

.logo i{

    font-size:34px;

    animation:glow 2s infinite alternate;

}

/* Menu */

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:white;

    transition:.3s;

    font-size:18px;

}

nav a:hover{

    color:#00e5ff;

}

/* RGB Glow */

@keyframes glow{

    from{

        text-shadow:

        0 0 5px cyan,

        0 0 10px cyan;

    }

    to{

        text-shadow:

        0 0 20px cyan,

        0 0 40px blue,

        0 0 60px purple;

    }

}
/* HERO */

.hero{

    height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:120px 80px;

}

.hero-text{

    width:55%;

}

.hello{

    color:#00e5ff;

    font-size:24px;

}

.hero h1{

    font-size:90px;

    font-family:Orbitron;

    color:white;

    text-shadow:

    0 0 10px cyan,

    0 0 25px blue;

}

.hero h2{

    margin-top:15px;

    font-weight:400;

}

.hero h2 span{

    color:#00e5ff;

}

.description{

    margin-top:30px;

    font-size:20px;

    line-height:35px;

    color:#d7d7d7;

    max-width:650px;

}

.buttons{

    margin-top:40px;

}

.primary,
.secondary{

    padding:15px 35px;

    border:none;

    cursor:pointer;

    font-size:18px;

    border-radius:40px;

    margin-right:20px;

    transition:.4s;

}

.primary{

    background:#00e5ff;

    color:black;

}

.primary:hover{

    transform:translateY(-5px);

    box-shadow:

    0 0 25px cyan;

}

.secondary{

    background:transparent;

    border:2px solid #00e5ff;

    color:white;

}

.secondary:hover{

    background:#00e5ff;

    color:black;

}

.hero-image{

    width:40%;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:420px;

    border-radius:20px;

    border:4px solid cyan;

    box-shadow:

    0 0 30px cyan,

    0 0 60px blue;

}
#about{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:100px;

    background:#050505;

}

.about-container{

    width:90%;

    max-width:1200px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.profile-image img{

    width:350px;

    border-radius:25px;

    border:4px solid cyan;

    box-shadow:

    0 0 25px cyan,

    0 0 50px blue;

}

.profile-card{

    width:55%;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(12px);

    padding:40px;

    border-radius:25px;

    border:1px solid rgba(255,255,255,.2);

}

.profile-card h3{

    color:#00ffff;

    font-size:36px;

    margin-bottom:25px;

    font-family:Orbitron;

}

.profile-card p{

    margin-bottom:15px;

    font-size:18px;

    line-height:30px;

}

.bio{

    margin-top:30px;

    color:#d7d7d7;

}